<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>The Box Website</title>
		<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.3/angular.min.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.3/angular-route.min.js"></script>
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
		<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
	</head>
	<body>
		<div>
		<div>
		<nav class="navbar navbar-inverse" role="navigation" style="padding-left:130px;">
		    <ul class="nav navbar-nav">
		      <li class="active"><a href="/">HO<span class="sr-only">(current)</span></a></li>
		      <li><a href="/about">About us</a></li>
		      <li><a href="/contact">Contact us</a></li>
		    </ul>
		</nav>
		</div>
		<br/>
		<div class="jumbotron"> <p>
			<div class="col-sm-10">
				<b>
				<H1>Welcome to The Box</H1>
				</b>
				<h3><i><b>Sign up</b></i></h3>
			</div>
			<form name="sign_up" class="form-horizontal" role="form" style="width: 50%;">
        		<div class="form-group">
            		<label for="client_name" class="col-sm-2 control-label">Name</label>
            		<div class="col-sm-10">
                		<input type="text" class="form-control" id="client_name_sign" name="client_name" placeholder="First & Last Name" value="">
                	</div>
                	<label for="age" class="col-sm-2 control-label">Age</label>
                	<div class="col-sm-10">
                		<input type="text" class="form-control" id="age" name="age" placeholder="How old are you?" value="">
                	</div>
                	<label for="phone_number" class="col-sm-2 control-label">Phone</label>
                	<div class="col-sm-10">
                		<input type="text" class="form-control" id="phone_number" name="phone_number" placeholder="Set your phone number" value="">
                	</div>
                	<label for="email" class="col-sm-2 control-label">E-mail</label>
                	<div class="col-sm-10">
                		<input type="text" class="form-control" id="email" name="email" placeholder="Set your e-mail address" value="">
                	</div>
                	<div class="col-sm-10 col-sm-offset-2">
                		<input id="submit" name="submit" type="button" onclick="create_client()" value="Send" class="btn btn-primary">
            		</div>
                </div>
            </form>
            <script>
                function create_client() {
                    var name = document.getElementById('client_name_sign').value;
                    var age = document.getElementById('age').value;
                    var phone = document.getElementById('phone_number').value;
                    var email = document.getElementById('email').value;
                    $.ajax({
                        url: "http://127.0.0.1:8081/sign_up_client?client_name=" + name + "&age=" + age + "&phone_number=" + phone + "&email=" + email,
                        method: "GET"
                    }).done(function() {
                        alert("Client " + name + " has been signed up")
                    }).fail(function(){
                        alert("Error 404: Client not getting response from sign_up_client service.");
                    })
                }
            </script>
            <div class="col-sm-10">
				<h3><i><b>Get client</b></i></h3>
			</div>   
            <form name="get" class="form-horizontal" role="form" style="width: 50%;">
        		<div class="form-group">
            		<label for="client_name" class="col-sm-2 control-label">Name</label>
            		<div class="col-sm-10">
                		<input type="text" class="form-control" id="client_name_get" name="client_name" placeholder="First & Last Name" value="">
                	</div>
                	<div class="col-sm-10 col-sm-offset-2">
                		<input id="submit" name="submit" type="button" onclick="get_client()" value="Send" class="btn btn-primary">
            		</div>
                    <div class="table-responsive-vertical shadow-z-1" style="margin-left:55px">
                        <table id="table" class="table table-hover table-mc-light-blue", cellpadding="10">
                          <thead>
                            <tr>
                              <th>Name</th>
                              <th>Age</th>
                              <th>Phone</th>
                              <th>Email</th>
                            </tr>
                          </thead>
                          <tbody id="tbody" name="tbody">
                            <tr>
                              <td height="100" id="getname" data-title="Name"></td>
                              <td height="100" id="getage" data-title="Age"></td>
                              <td height="100" id="getphone" data-title="Phone"></td>
                              <td height="100" id="getemail" data-title="Email"></td>
                            </tr>
                          </tbody>
                        </table>
                    </div>
                </div>
            </form>
            <script>
                function get_client() {
                    var name = document.getElementById('client_name_get').value;
                    $.ajax({
                        url: "http://127.0.0.1:8081/get_client?client_name=" + name,
                        method: "GET"
                    }).done(function() {
                       setTimeout(get_data(), 10000);

                    }).fail(function(){
                        alert("Error 404: Client not getting response from get_client service.");
                    })

                    function get_data() {
                        var name = document.getElementById('client_name_get').value;
                        var json;
                        $.ajax({
                            url: "http://127.0.0.1:8081/get_data",
                            method: "GET",
                        }).done(function(data) {
                            if(data.client_name === undefined) data = JSON.parse(data)
                            if(data.client_name != "null") {
                                name = name.toLowerCase();
                                var lowercaseData = data.client_name.toLowerCase();
                                if(lowercaseData == name) {
                                    document.getElementById('getname').innerHTML = data.client_name;
                                    document.getElementById('getage').innerHTML = data.age;
                                    document.getElementById('getphone').innerHTML = data.phone_number;
                                    document.getElementById('getemail').innerHTML = data.email;
                                }
                                else {
                                    setTimeout(get_data(), 10000);
                                }
                            }
                            else {
                                document.getElementById('getname').innerHTML = "";
                                document.getElementById('getage').innerHTML = "";
                                document.getElementById('getphone').innerHTML = "";
                                document.getElementById('getemail').innerHTML = "";
                                alert("Client not found!")
                            }
                        }).fail(function(){
                            alert("Error 404: Client not getting response from get_data service.");
                        })
                    }
                }                     
            </script> 
            <div class="col-sm-10">
				<h3><i><b>Delete client</b></i></h3>
			</div>   
            <form name="delete" class="form-horizontal" role="form" style="width: 50%;">
        		<div class="form-group">
            		<label for="client_name" class="col-sm-2 control-label">Name</label>
            		<div class="col-sm-10">
                		<input type="text" class="form-control" id="client_name_delete" name="client_name" placeholder="First & Last Name" value="">
                	</div>
                	<div class="col-sm-10 col-sm-offset-2">
                		<input id="submit" name="submit" type="button" onclick="delete_client()" value="Send" class="btn btn-primary">
            		</div>
                </div>
            </form>
             <script>
                function delete_client() {
                    var name = document.getElementById('client_name_delete').value;
                    $.ajax({
                        url: "http://127.0.0.1:8081/delete_client?client_name=" + name,
                        method: "GET"
                    }).done(function() {
                        alert("Client " + name + " has been deleted")
                    }).fail(function(){
                        alert("Error 404: Client not getting response from sign_up_client service.");
                    })
                }
            </script>
            <div class="col-sm-10">
				<h3><i><b>Update client</b></i></h3>
			</div>
			<form name="update" class="form-horizontal" role="form" style="width: 50%;">
        		<div class="form-group">
            		<label for="client_name" class="col-sm-2 control-label">Name</label>
            		<div class="col-sm-10">
                		<input type="text" class="form-control" id="client_name_update" name="client_name" placeholder="First & Last Name" value="">
                	</div>
                	<label for="type" class="col-sm-2 control-label">Parameter</label>
                	<div class="col-sm-10">
                		<input type="text" class="form-control" id="type" name="type" placeholder="Set the parameter you want to change" value="">
                	</div>
                	<label for="data" class="col-sm-2 control-label">Value</label>
                	<div class="col-sm-10">
                		<input type="text" class="form-control" id="data" name="data" placeholder="Set the value of the parameter" value="">
                	</div>
                	<div class="col-sm-10 col-sm-offset-2">
                		<input id="submit" name="submit" type="button" onclick="update_client()" value="Send" class="btn btn-primary">
            		</div>
                </div>
            </form>
            <script>
                function update_client() {
                    var name = document.getElementById('client_name_update').value;
                    var type = document.getElementById('type').value;
                    var data = document.getElementById('data').value;
                    $.ajax({
                        url: "http://127.0.0.1:8081/update_client?client_name=" + name + "&type=" + type + "&data=" + data,
                        method: "GET"
                    }).done(function() {
                        alert("Client " + name + " has been updated")
                    }).fail(function(){
                        alert("Error 404: Client not getting response from sign_up_client service.");
                    })
                }
            </script> 
            </div>
        </div>
		</div>
	</body>
</html>
